.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
html,
body {
  height: 100%;
}
body {
    overflow: hidden;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 350px 1fr;
    grid-template-columns: 1fr max-content 1fr;
    color: white;
}

.small-logo-topleft {
    position: absolute;
    top: 20%;
    left: 20%;
    margin-left: -120px;
    margin-top: -120px;
    width: 120px;
    height: 120px;
}

#logo-homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -120px;
    width: 240px;
    height: 240px;
}

.hoja {
     color: white;
     display: flex;
 }
.hoja:after,
.hoja:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.hoja:after {
  box-shadow: inset 0 17.5px 0 rgba(10,0,182, 0.6), inset 17.5px 0 0 rgba(55,71,79, 0.6), inset 0 -17.5px 0 rgba(10,0,182, 0.6), inset -17.5px 0 0 rgba(10,0,182, 0.6);
  -webkit-animation: rotar 2s -0.5s linear infinite;
          animation: rotar 2s -0.5s linear infinite;
}
.hoja:before {
  box-shadow: inset 0 17.5px 0 rgba(66,66,66, 0.6), inset 17.5px 0 0 rgba(38,50,56, 0.6), inset 0 -17.5px 0 rgba(255,117,67, 0.6), inset -17.5px 0 0 rgba(255,81,49, 0.6);
  -webkit-animation: rotarIz 2s -0.5s linear infinite;
          animation: rotarIz 2s -0.5s linear infinite;
}
@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@-webkit-keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}


#music-note {
    width: 250px;
    margin: auto;
}

.music-note-small {
    width: 110px;
    margin: auto;
}

#spootify-name {
    justify-self: end;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    white-space: nowrap;
    align-self: center;
}

.minimal-form {
    display: none;
    background-color: black!important;
    border: 1px white solid;
}

.minimal-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.4em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    
}

#home-buttons {
    align-self: start;
    grid-column: 2 / 3;
    grid-row: 3/ 4;
    justify-self: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#register-button {
    align-self: start;
    grid-column: 1 / 2;
    justify-self: start;
}

#login-button {
    align-self: start;
    grid-column: 2 / 3;
    justify-self: end;
}

.minimal-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
 .minimal-button {
     display: block;
     margin: 0.4em auto;
 }
}



.form-input {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 250px;
    height: 40px;
    border: 1px solid #FFFFFF !important;
    border-radius: 0.4em;
    background: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    text-rendering: auto;
    /* color: initial; */
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px "Open Sans";
    grid-column: 2/3;
}

.form-input:focus {
    border: 1px solid #FFFFFF !important;
}

.form-title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
    justify-self: center;
    font-size: 25px;
    grid-column: 2/3;
    white-space: nowrap;
    user-select: none;
}

.form-sub-title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
    justify-self: center;
    font-size: 16px;
    grid-column: 1/4;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
}

#guest-login:hover {
    color: #b0bec5;
    text-decoration: underline;
}

.da-form {
    display: grid;
    grid-template-rows: 90px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr min-content 1fr;
}

.submit-button-wrapper {
    align-self: center;
    justify-self: end;
    grid-column: 2/3;
    margin-top: 20px;
}

#copy-right {
    color: #bdbdbd;
    font-family: 'Helvetica', "Arial", sans-serif;
    font-size: 10px;
    grid-column: 2/3;
    grid-row: 3/4;
    font-weight: 100 !important;
    align-self: end;
    justify-self: center;
    white-space: nowrap;
    margin-bottom: 20px;
    pointer-events: none;
}

#char-lookup {
    font-family: 'Open Sans', sans-serif;
    color: #ffb74d;
    grid-column: 2/3;
    border: none;
    display: none;
    font-size: 14px;
    padding: 0 10px 0 10px;
}

.lds-hourglass {
  opacity: 0;
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  grid-column: 3/4;
  align-self: center;
  margin-left: -35px;
  background-color: black;
    border-radius: 50%;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 3px;
  box-sizing: border-box;
  border: 13px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.submit-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-self: end;
    user-select: none;
    outline: none;
}

.check-submit {
    width:45px;
    display: none;
}

.submit-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    white-space: nowrap;
    align-self: center;
    color: white;
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
}

.submit-button:hover .submit-text {
    color: #b0bec5;
    text-decoration: underline;
}

#register-form {
    grid-column: 2/3;
    grid-row: 2/3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-select .select-items {
    background-color: red;
}

.ui-panel {
    grid-column: 1/4;
    grid-row: 1/4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: min-content 1fr;
}

.spootify-nametag {
    align-self: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.register-success {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.redirect-to-profile-button {
    background: none;
    font-size: 20px;
    width: 80px;
    height: 45px;
    grid-column: 2/3;
    margin-top: 50px;
}

.redirect-to-profile-button:hover {
    background-color: white;
}

.welcome-back {
    grid-column: 2/3;
    font-size: 30px;
    align-self: center;
    grid-row: 1/2;
}

.profile-pic {
    grid-column: 3/4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    cursor: pointer;
    grid-row: 1/2;
    padding: 10px;
}

.song-browser {
    grid-column: 2/3;
    filter: invert(100%);
}

.user-settings {
    grid-column: 3/4;
    grid-row: 2/3;
}

.small-form {
    display: grid;
    grid-template-columns: 1fr min-content 10px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
}

.small-form .form-sub-title {
    grid-column: 1/3;
}

.small-form .form-input {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: end;
}

.small-form .minimal-button {
    grid-column: 2/3;
    grid-row: 2/3;
}

.simple-button {
    background: black;
}

.simple-button:hover {
    background-color: white;
}

.title-padding {
    padding: 20px;
    margin-bottom: 20px;
}

.guest-container .small-form {
    grid-template-columns: 1fr 120px 10px;
}

.table100-head th {
    text-align: initial !important;
}

.wrap-table100 {
    width: 85vw!important;
}

.spootify-home {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-rows: 1fr;
}

.spootify-breadcrumb {
    grid-column: 2/3;
    align-self: center;
}


.playlists-view-container {
    display: none;
}

.switch-to-tracks {
    display: none;
}